# macOS
.DS_Store
**/.DS_Store

# VSCode
.vscode/

# Python
__pycache__/
*.pyc
*.pyo
scripts/__pycache__/

# clangd / compile commands
compile_commands.json
.cache/

# Compiled executables (for when we begin building and testing)
C-Implementation/build/
Cortex-M4/build/