# macOS
.DS_Store
**/.DS_Store

# VSCode
.vscode/

# Python
__pycache__/
*.pyc
*.pyo
scripts/__pycache__/

# clangd / compile commands
compile_commands.json
.cache/

# Executables (for when we begin building and testing)
C-Implementation/build/
Cortex-M4/build/

# Compiled objects and dependency files
*.o
*.d

# Any stray default executables
a.out